.header {
    /* width: 400px; */
    margin-top: 10px;
    padding-top: 32px;
    padding-left: 32px;
    padding-bottom: 16px;
    /* position: relative; */
}

body {
  padding-left: 32px;
}

h2 {
  margin: 16px 0 0;
  font-weight: normal;
  padding-top: 32px;
}

table {
  padding-top: 32px 0;
  border-collapse: collapse;
  width: 600px;
}

th {
  border: 1px solid #555;
  padding: 8px;
  background: #ddd;
}

td {
  border: 1px solid #555;
  padding: 8px;
}

.name {
  /* display: inline-block;
  width: 100%;
  padding: 0.5em;
  border: 1px solid #999;
  box-sizing: border-box;
  background: #f2f2f2;
  margin: 0.5em 0; */
  width: 100%;
  padding: 10px, 8px;
  text-align: left;
  border-radius: 3px;
}

.pass {
  width: 300px;
  padding: 10px, 8px;
  text-align: left;
  border-radius: 3px;
}

body > a {
  width: 200px;
  height: 50px;
}

.new {
  max-width: 100px;
  /* width: 200px; */
  height: 50px;
  padding-top: 32px 0;
  border-radius: 3px;
  background-color: blue;
  color: #FFF;
  /* font-size: 16px; */
  align-items: center;
  box-sizing:border-box;
}

.logout {
  width: 200px;
  height: 50px;
  padding: 8px, 8px;
  border-radius: 3px;
  background-color: green;
  color: #FFF;
  /* font-size: 16px; */
  align-items: center;
  box-sizing:border-box;
}

.in_btn {
  background: rgb(90, 180, 158);
  /* background: blue; */
  width: 150px;
  height: 50px;
  border-radius: 8px;
  /* text-align:center; */
  align-items: center;
  position: absolute;
  top: 16px;
  right: 16px;
  color: #FFF;
  padding: 8px 16px;
  box-sizing:border-box;
}

.btn {
  margin-top: 20px;
  border-radius: 8px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 100px;
  padding: 10px 25px;
  color: #FFF;
  transition: 0.3s ease-in-out;
  font-weight: 600;
  background: skyblue;
  /* background: blue; */
}
