.header {
    width: 400px;
    height: 100px;
    background-color: #141f40;
}

.content {
    position: absolute;
    top: 27px;
    left: 230px;
    width: 160px;
    height: 60px;
    background-color: white;
}

.box {
    display: flex;
    margin-top: 10px;
    flex-direction: row;
    justify-content: space-evenly;
}

.box1 {
    width: 40px;
    height: 40px;
    background-color: #a9004b;
}

.box2 {
    width: 40px;
    height: 40px;
    background-color: #a9004b;
}

.box3 {
    width: 40px;
    height: 40px;
    background-color: #a9004b;
}

.main {
    display: flex;
}

.green {
    width: 150px;
    height: 250px;
    background-color: #80bfa8;
}

.red {
    width: 250px;
    height: 250px;
    background-color: #8c2727;
}

/* .content2 {
    position: relative;
    top: 40px;
    left: 40px;
} */

.orange {
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 60px;
    margin-bottom: 40px;
    display: column;
    flex-direction: row;
    justify-content: space-evenly;
}

.orange1 {
    margin-top: 0px;
    width: 140px;
    height: 40px;
    border: 5px solid white;
    box-sizing: content-box;
    background-color: orange;
    margin-bottom: 10px;
}

.orange2 {
    margin-top: 0px;
    width: 140px;
    height: 40px;
    border: 5px solid white;
    box-sizing: content-box;
    background-color: orange;
    margin-bottom: 10px;
}

.orange3 {
    margin-top: 0px;
    width: 140px;
    height: 40px;
    border: 5px solid white;
    box-sizing: content-box;
    background-color: orange;
}

/* ul {
    list-style-type: none;
  }

.red1 {
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 60px;
    box-sizing: auto;
    height: 50px;
    background-color: #ff863f;
}

    justify-content:space-between;

.red2 {
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 60px;
    box-sizing: auto;
    height: 50px;
    background-color: #ff863f;
}

.red3 {
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 60px;
    box-sizing: auto;
    height: 50px;
    background-color: #ff863f;
} */

.footer {
    width: 400px;
    height: 100px;
    background-color: #d98d30;
}

/* .clearfix::after {
    content: " ";
    display: block;
    clear: both;
} */
